/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a{
	text-decoration:none;	
}
body{
	background-color:#0BADBF;
	background-image:url(../images/texture4.png);
		
}

nav{
	width:100%;
	min-height:40px;
	border-bottom:5px ridge #EFE2D3;	
}

#container{
	width:auto;
	height:auto;
	margin:0 auto 30px auto;
	padding:1px;	
}

#logo{
	width:auto;
	height:auto;
	margin:10px auto 0 auto;	
}

#logo img{
	margin:0 auto;
	display:block;
	alignment-adjust:central;
	width:240px;
	height:auto;	
}

#about{
	margin:20px auto 0 auto;
}

h4{
	font-family:'Lobster13Regular';
	text-align:center;
	color:#0c8693;
	font-size:3em;
	text-shadow: 0px 2px 3px #14c8e0;
}

h1,h2,h3{
	font-family: 'Museo-700';
	font-size:4.5em;
	color:#F2D9BB;
	text-align:center;
}

h1{
	font-family: 'AaarghNormal';	
}

h2,h3{
	text-transform:uppercase;
}

h2{
	font-size:7em;
	text-shadow: rgb(170, 170, 170) 1px 0px 2px, rgb(34, 34, 34) 1px 0.9812104006908342px 2px, rgb(170, 170, 170) 2px 0.9812104006908342px 2px, rgb(34, 34, 34) 2px 1.9624208013816684px 2px, rgba(33, 36, 39, 0.109804) 4px 0px 3px, rgba(33, 36, 39, 0.0980392) 2.9849683205526674px 0.9812104006908342px 3px, rgba(33, 36, 39, 0.0941176) 1.9699366411053347px 1.9624208013816684px 3px, rgba(33, 36, 39, 0.0823529) 0.954904961658002px 2.9436312020725026px 3px, rgba(33, 36, 39, 0.0784314) -0.06012671778933067px 3.924841602763337px 3px, rgba(33, 36, 39, 0.0745098) -1.0751583972366634px 4.906052003454171px 3px, rgba(33, 36, 39, 0.0666667) -2.090190076683996px 5.887262404145005px 3px, rgba(33, 36, 39, 0.0627451) -3.105221756131329px 6.868472804835839px 3px, rgba(33, 36, 39, 0.0588235) -4.120253435578661px 7.849683205526674px 3px, rgba(33, 36, 39, 0.054902) -5.135285115025994px 8.830893606217508px 3px, rgba(33, 36, 39, 0.0470588) -6.150316794473326px 9.812104006908342px 3px, rgba(33, 36, 39, 0.0431373) -7.165348473920659px 10.793314407599176px 3px, rgba(33, 36, 39, 0.0392157) -8.180380153367992px 11.77452480829001px 3px, rgba(33, 36, 39, 0.0313726) -9.195411832815324px 12.755735208980845px 3px, rgba(33, 36, 39, 0.027451) -10.210443512262657px 13.736945609671679px 3px, rgba(33, 36, 39, 0.0235294) -11.22547519170999px 14.718156010362513px;	
}

h3{
	font-size:6.6em;
	font-family: 'bebasregular';
	color:rgba(255,255,255,0);
	-webkit-text-stroke: 3px #07535b;
	text-shadow:none;
	margin-top:-34px;
	background: -moz-linear-gradient(left,  rgba(7,83,91,1) 11%, rgba(7,83,91,0.44) 61%, rgba(125,185,232,0) 100%);

background: -webkit-gradient(linear, left top, right top, color-stop(11%,rgba(7,83,91,1)), color-stop(61%,rgba(7,83,91,0.44)), color-stop(100%,rgba(125,185,232,0)));

background: -webkit-linear-gradient(left,  rgba(7,83,91,1) 11%,rgba(7,83,91,0.44) 61%,rgba(125,185,232,0) 100%);

background: -o-linear-gradient(left,  rgba(7,83,91,1) 11%,rgba(7,83,91,0.44) 61%,rgba(125,185,232,0) 100%);

background: -ms-linear-gradient(left,  rgba(7,83,91,1) 11%,rgba(7,83,91,0.44) 61%,rgba(125,185,232,0) 100%);

background: linear-gradient(to right,  rgba(7,83,91,1) 11%,rgba(7,83,91,0.44) 61%,rgba(125,185,232,0) 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07535b', endColorstr='#007db9e8',GradientType=1 );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#and{
	font-family:'Lobster13Regular';
	text-align:center;
	color:#0B7480;
	font-size:15em;
	text-shadow: 0px 2px 3px #14c8e0;
	position:relative;
	z-index:-1;
	margin:0 auto;
	height:110px;
	border-bottom:4px solid;
	top: -60px;	
}

@media screen and (max-width: 480px){
	h1{
		max-width:400px;
		margin:0 auto;
	}
	h2{
		font-size:7.4em;
		font-weight:bold;
		letter-spacing:1px;
		max-width:480px;
		margin:30px auto 0pc auto;
		line-height:.5em;
		}
	#dev{
		font-size:42%;
		width:auto;
		margin:0 auto;
		}
	h3{
		font-size:4.3em;
		max-width:480px;
		letter-spacing:-1px;
}

nav{
	min-height:40px;	
}

#logo img{
	margin:0 auto;
	display:block;
	alignment-adjust:central;
	width:180px;
	height:auto;	
}
	
}