/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/*colors*/
.shopify-page {
  background-image: url(../images/shopify-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f7f7f7; }

.letter__title {
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  margin: 50px 0;
  font-size: 130px;
  font-weight: 800;
  letter-spacing: -4px;
  color: #30373b; }
.letter__container {
  width: 90%;
  max-width: 980px;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  padding: 50px;
  margin: 10px auto 50px auto; }
  .letter__container p {
    color: #30373b;
    font-size: 16px;
    line-height: 24px; }
  .letter__container a {
    color: #83ba68;
    font-weight: bold; }
    .letter__container a:hover {
      text-decoration: underline; }

@media only screen and (max-width: 800px) {
  .letter__title {
    font-family: "Merriweather Sans", sans-serif;
    text-align: center;
    margin: 30px 0;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -4px;
    color: #30373b; }
  .letter__container {
    width: 100%;
    max-width: 980px;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    padding: 30px; } }
html * {
  transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease; }

*:hover {
  transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease; }

body {
  padding-top: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  image-rendering: optimizeSpeed;
  /*                     */
  image-rendering: -moz-crisp-edges;
  /* Firefox             */
  image-rendering: -o-crisp-edges;
  /* Opera               */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and Safari) */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                */ }

body, a {
  font-family: "Cabin", sans-serif; }

a {
  color: #623372;
  text-decoration: none; }

p {
  color: #6f6f6f;
  font-size: 15.5px;
  line-height: 23.5px;
  margin-bottom: 10px; }

a:hover {
  font-weight: 700; }

header {
  height: 56px; }

.navigation-bar {
  width: 100vw;
  background: white;
  overflow: hidden;
  margin-bottom: 1em;
  position: fixed;
  top: 0;
  z-index: 100000;
  -webkit-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.07); }

.nav-list {
  height: 52px;
  background: white;
  margin: 0 10px 0 60px;
  padding: 0;
  text-align: center; }

.nav-list__link {
  display: inline-block;
  margin: 0 12px;
  padding: 6px;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 38px; }

.logo {
  width: 171px;
  margin-top: 18px;
  margin-bottom: -4px; }

.mobile-menu-icon {
  display: none; }

.page {
  width: 100%;
  background: #f7f7f7;
  padding-top: 1px;
  padding-bottom: 30px;
  overflow: hidden; }

.home-page {
  padding: 30px;
  box-sizing: border-box; }
  .home-page__title {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: -2.5px;
    padding: 20px;
    border: 3px solid white;
    margin-left: -145px;
    color: #5c306b;
    background: rgba(255, 255, 255, 0.25); }
  .home-page__subtitle {
    font-family: "Cabin", sans-serif;
    letter-spacing: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0; }

.highlighted-text {
  font-weight: 700;
  font-style: italic; }

.page-title {
  color: #623372;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  width: 100%;
  margin: 15px 0; }
  .page-title h2 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 60px; }
  .page-title span {
    font-family: "Cabin", sans-serif;
    font-weight: 400; }

.home-hero {
  width: 100%;
  max-width: 1610px;
  min-height: calc(100% - 110px);
  margin: 0 auto;
  background-image: url(../images/home-hero-bg.jpg);
  background-size: cover;
  position: relative;
  padding: 3%;
  background-attachment: fixed;
  box-sizing: border-box;
  background-position: center 43px; }
  .home-hero::after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 500px solid rgba(76, 45, 86, 0.92);
    border-right: 690px solid transparent;
    position: absolute;
    left: -30px;
    bottom: -30px;
    visibility: visible; }
  .home-hero-content {
    width: 50%;
    max-width: 590px;
    float: right;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    padding: 40px; }

.about-me p {
  color: #a2a2a2;
  font-size: 18px;
  line-height: 26px; }
.about-me a {
  color: #623372;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 20px; }
.about-me::before {
  content: '';
  height: 3px;
  width: 40px;
  display: block;
  margin: 15px 0;
  background-color: #623372; }

.home-icon-container {
  margin: 15px 0;
  width: 100%; }

.home-icon {
  font-size: 60px;
  color: #a4a4a4;
  text-align: center;
  width: 33.33%;
  float: left;
  position: relative; }
  .home-icon:hover {
    color: #623372; }
  .home-icon--adventure:hover::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 50px;
    background: blue; }

.project-tile, .project-tile--thumbnail, .project-tile--ama-insurance, .project-tile--ama-notification, .project-tile--solar-decathlon, .project-tile--heavylift {
  width: 100%;
  background-size: cover;
  margin-top: 20px;
  position: relative;
  color: white;
  overflow: hidden; }
  .project-tile--thumbnail {
    width: 30.33%;
    margin: 20px 1.5%;
    height: 220px;
    float: left;
    box-sizing: border-box;
    background: #623372;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    .project-tile--thumbnail .project-tile__arrow, .project-tile--thumbnail .project-tile__arrow--left {
      left: 0;
      top: 0;
      position: absolute; }
    .project-tile--thumbnail .project-tile__button {
      display: block;
      margin: 0 auto;
      text-align: center;
      max-width: 130px; }
    .project-tile--thumbnail:nth-of-type(2) {
      margin: 20px 0; }
    .project-tile--thumbnail .project-tile__content, .project-tile--thumbnail .project-tile__content--left {
      padding: 20px;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, 0.78); }
  .project-tile--ama-insurance {
    background-position: center center;
    background-image: url(../images/project-tile-ama-insurance-bg.jpg); }
    .project-tile--ama-insurance .project-tile__content, .project-tile--ama-insurance .project-tile__content--left {
      background-color: rgba(8, 64, 116, 0.84); }
  .project-tile--ama-notification {
    background-position: center center;
    background-image: url(../images/project-tile-ama-notification-bg.jpg); }
    .project-tile--ama-notification .project-tile__content, .project-tile--ama-notification .project-tile__content--left {
      background-color: rgba(164, 165, 171, 0.84); }
  .project-tile--solar-decathlon {
    background-position: center center;
    background-image: url(../images/project-tile-decath-bg.jpg); }
    .project-tile--solar-decathlon .project-tile__content, .project-tile--solar-decathlon .project-tile__content--left {
      background-color: rgba(27, 122, 132, 0.82); }
  .project-tile--heavylift {
    background-position: center center;
    background-image: url(../images/project-tile-heavylift-bg.jpg); }
    .project-tile--heavylift .project-tile__content, .project-tile--heavylift .project-tile__content--left {
      background-color: rgba(60, 57, 57, 0.83); }
  .project-tile__content, .project-tile__content--left {
    width: 45%;
    float: right;
    position: relative;
    box-sizing: border-box;
    padding: 80px 40px 260px 40px; }
    .project-tile__content--left {
      float: left;
      padding: 80px 40px 260px 80px; }
  .project-tile__arrow, .project-tile__arrow--left {
    left: -100%;
    top: 0;
    position: absolute; }
    .project-tile__arrow--left {
      left: 100%; }
  .project-tile__title {
    font-size: 20px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
    z-index: 20;
    position: relative; }
  .project-tile__roles {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    z-index: 20;
    position: relative; }
  .project-tile__button {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    display: inline-block;
    margin-top: 40px;
    padding: 13px 23px;
    border-radius: 40px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    z-index: 20;
    position: relative; }
    .project-tile__button:hover {
      cursor: pointer;
      background-color: white;
      color: #623372; }

.cronometer-thumbnail {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/da569a49439319.58b503d18c338.png); }

.insurance-flow-thumbnail {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/e7730f49532287.58b76109ba685.jpeg); }

.insurance-overview-thumbnail {
  background-position: top center;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/77425649532461.58b76292ab1dc.png); }

.project-hero {
  padding-top: 1px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .project-hero--aaq {
    background-color: #00539b; }
    .project-hero--aaq .project-description {
      background: rgba(0, 66, 123, 0.95); }
  .project-hero--heavylift {
    background-image: url(../images/heavylift-hero-bg.jpg); }
    .project-hero--heavylift .project-description {
      background: rgba(60, 57, 57, 0.9); }
  .project-hero--notification {
    background-color: #b5b6bd; }
    .project-hero--notification .project-description {
      background: rgba(126, 127, 136, 0.9);
      background-image: url(../images/notification-hero-bg.png);
      background-size: 63%;
      background-position: -50%;
      background-repeat: no-repeat; }
  .project-hero--decath {
    background-image: url(../images/decath-bg.jpg);
    margin-bottom: 30px; }
    .project-hero--decath .project-description {
      background: rgba(27, 122, 132, 0.82); }
  .project-hero__mockup, .project-hero__mockup--heavylift, .project-hero__mockup--aaq, .project-hero__mockup--notification, .project-hero__mockup--decath {
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: 85% center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .project-hero__mockup--heavylift {
      background-image: url(../images/heavylift-hero-mock.png); }
    .project-hero__mockup--aaq {
      background-image: url(../images/ama-hero-animation.gif); }
    .project-hero__mockup--notification {
      background-image: url(../images/notification-slideout.gif); }
    .project-hero__mockup--decath {
      background-image: url(../images/decath-hero-bg.png); }

.hero-content {
  padding: 90px 0;
  position: relative;
  z-index: 20; }

.project-description {
  max-width: 590px;
  width: 90%;
  min-height: 65%;
  margin-left: 5%;
  padding: 25px;
  box-sizing: border-box; }

.project-logo {
  width: 175px;
  height: auto;
  margin: 20px auto 0 auto; }

.project-logo img {
  width: 100%; }

.project-content-container,
.content-container {
  width: 92.5%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden; }

.content-container {
  width: 100%;
  max-width: 1480px;
  background-color: white;
  padding-top: 1px; }

.role {
  display: inline-block;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 4px;
  padding: 5px 7px;
  color: #5f5f5f;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 10px; }

.content-block, .content-block--amablue, .content-block--darkgrey, .content-block--backgroundimage {
  padding: 40px 0;
  position: relative;
  width: 100%; }
  .content-block--white {
    background: white; }
  .content-block--amablue {
    background-color: #014683; }
  .content-block--darkgrey {
    background-color: #5c5e5e;
    padding: 30px;
    box-sizing: border-box; }
    .content-block--darkgrey p, .content-block--darkgrey .content-block__title {
      color: white; }
  .content-block--backgroundimage {
    padding: 260px 0;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
  .content-block--heavyliftflow {
    background-color: #232323;
    background-image: url(../images/heavylift-flow.png); }
  .content-block--notificationui {
    background-color: #e1e4ea;
    background-image: url(../images/notification-ui.gif);
    background-position: left center; }
  .content-block--notification-admin img {
    width: 90%;
    max-width: 940px;
    height: auto;
    margin: 10px auto 0 auto;
    display: block; }
  .content-block__full-width-img {
    width: 90%;
    margin: 30px auto 0 auto;
    display: block; }

.content-block__title {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 12px;
  max-width: 465px;
  font-weight: 500; }
  .content-block__title--amablue {
    color: #014683; }
  .content-block__title--heavylift-grey {
    color: #232323; }

.content-container--label {
  margin-left: 40px; }

.content-label, .process__step-title {
  text-transform: uppercase;
  color: #b1b1b1;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  width: 100%;
  text-align: center; }
  .content-label--vertical {
    text-transform: uppercase;
    color: #b1b1b1;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    position: absolute;
    top: 46px;
    left: 28px;
    text-align: left; }

.content-image, .content-image--left {
  width: 53%;
  max-width: 800px;
  float: left;
  margin-left: 2%; }
  .content-image--left {
    margin-right: 2%;
    margin-left: 0; }

.floated-content {
  width: 45%;
  float: left; }
  .floated-content img {
    width: 90%;
    margin-left: 6%; }

.thumbnail-row {
  width: auto;
  margin: 0 auto;
  display: block;
  clear: both; }
  .thumbnail-row__image {
    width: 32%;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
    float: left; }
    .thumbnail-row__image:nth-of-type(2) {
      margin: 0 2%; }

.project-title {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
  width: 90%;
  font-weight: 700; }

.header-label {
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px; }

.color-block--ama-blue {
  background: #014683;
  padding: 20px; }

.scroll-image {
  margin: 10px 0;
  width: 100%;
  overflow-x: scroll; }

.scroll-image img {
  height: 550px;
  width: auto; }

.scroll-image::-webkit-scrollbar {
  -webkit-appearance: none;
  padding: 10px;
  height: 6px;
  background: #e0e0e0; }

.scroll-image::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #014683; }

.scrolling-screens {
  background: #e1e4ea;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #636363;
  font-size: 18px;
  margin-top: 30px; }

.scrolling-screen__slide {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: auto 75%;
  height: 678px;
  padding-top: 50px;
  width: 100%; }

.scrolling-screens--insurance .scrolling-screen__slide:nth-of-type(2) {
  background-image: url(../images/insurance-screen1.png); }

.scrolling-screens--insurance .scrolling-screen__slide:nth-of-type(3) {
  background-image: url(../images/insurance-screen2.png); }

.scrolling-screens--insurance .scrolling-screen__slide:nth-of-type(4) {
  background-image: url(../images/insurance-screen3.png); }

.scrolling-screens--insurance .scrolling-screen__slide:nth-of-type(5) {
  background-image: url(../images/insurance-screen4.png); }

.scrolling-screens--insurance .scrolling-screen__slide:nth-of-type(6) {
  background-image: url(../images/insurance-screen5.png); }

.scrolling-screens--insurance .scrolling-screen__slide:nth-of-type(7) {
  background-image: url(../images/insurance-screen6.png); }

.scrolling-screens--insurance .scrolling-screen__slide:nth-of-type(8) {
  background-image: url(../images/insurance-screen7.png); }

.scrolling-screens--insurance .scrolling-screen__slide:nth-of-type(9) {
  background-image: url(../images/insurance-screen8.png); }

.scrolling-screens--notification .scrolling-screen__slide:nth-of-type(2) {
  background-image: url(../images/notification-admin-screen1.jpg); }

.scrolling-screens--notification .scrolling-screen__slide {
  background-position: bottom center;
  background-size: auto 90%; }

.scrolling-screens--notification .scrolling-screen__slide:nth-of-type(3) {
  background-image: url(../images/notification-admin-screen2.jpg); }

.scrolling-screens--notification .scrolling-screen__slide:nth-of-type(4) {
  background-image: url(../images/notification-admin-screen3.jpg); }

.scrolling-screens--notification .scrolling-screen__slide:nth-of-type(5) {
  background-image: url(../images/notification-admin-screen4.jpg); }

.mobile-screens--heavylift {
  background-color: #232323;
  background-image: url(../images/heavylift-mobile-screens.png);
  background-size: 83%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 270px 0;
  background-attachment: fixed;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.mobile-mocks-container {
  max-width: 850px;
  width: 95%;
  margin: 0 auto; }

.mobile-frame {
  max-width: 30%;
  height: auto;
  float: left;
  padding-top: 1px;
  position: relative;
  z-index: 20;
  overflow: hidden; }
  .mobile-frame img {
    width: 100%; }

.mobile-frame:nth-of-type(2) {
  margin: 0 5%; }

.mobile-mock {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
  .mobile-mock img {
    width: 100%;
    height: auto;
    margin-top: 0; }

.process {
  margin-top: 20px;
  position: relative; }
  .process::after {
    content: '';
    height: 80%;
    width: 3px;
    background: #eaeaea;
    position: absolute;
    top: 0;
    left: 35px; }
  .process__step {
    margin-left: 15px;
    margin-bottom: 25px;
    position: relative;
    z-index: 20; }
  .process__step-number, .process__step-number--heavylift {
    width: 43px;
    height: 43px;
    text-align: center;
    border-radius: 100%;
    font-size: 23px;
    line-height: 42px;
    color: white;
    float: left;
    font-weight: 800; }
    .process__step-number--heavylift {
      background-color: #57585b; }
  .process__step-title {
    float: left;
    width: auto;
    margin-left: 20px;
    line-height: 39px; }
  .process__step-content {
    clear: both;
    margin-left: 63px; }
    .process__step-content p {
      font-size: 20px;
      line-height: 30px; }

.thumbnail-screen {
  width: 30%;
  color: white;
  float: left; }
  .thumbnail-screen:nth-of-type(2) {
    margin: 0 2.5%; }
  .thumbnail-screen img {
    width: 90%;
    display: block;
    margin: 0 auto; }
  .thumbnail-screen__title {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .thumbnail-screen__caption {
    width: 90%;
    margin: 10px auto 0 auto; }

.pre-footer {
  padding: 30px 2.5%;
  background-color: #f1f1f1; }
  .pre-footer__title {
    font-size: 24px;
    font-family: "Merriweather Sans", sans-serif;
    color: #623372;
    max-width: 465px;
    font-weight: 800; }
    .pre-footer__title::after {
      content: '';
      height: 3px;
      width: 40px;
      display: block;
      margin-top: 10px;
      background-color: #623372; }

.rounded-button, .rounded-button--inverse {
  padding: 15px;
  border: 2px solid #623372;
  color: #623372;
  font-weight: 800;
  text-align: center;
  margin: 20px auto 30px auto;
  display: block;
  border-radius: 40px;
  max-width: 170px; }
  .rounded-button i, .rounded-button--inverse i {
    margin-left: 5px; }
  .rounded-button:hover, .rounded-button--inverse:hover {
    background: #623372;
    color: white; }
  .rounded-button--inverse {
    background: #623372;
    color: white; }
    .rounded-button--inverse:hover {
      color: #623372;
      background: white; }

.social-icons {
  text-align: center; }
  .social-icons a {
    font-size: 22px;
    color: #623372; }
    .social-icons a:hover {
      color: #dddddd; }
    .social-icons a:nth-of-type(2) {
      margin: 0 25px; }

footer {
  background-color: #e6e6e6;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  color: #8e8e8e;
  font-size: 14px; }

@media only screen and (max-width: 1200px) {
  .project-hero__mockup, .project-hero__mockup--heavylift, .project-hero__mockup--aaq, .project-hero__mockup--notification, .project-hero__mockup--decath {
    background-size: 90%;
    background-position: center; }

  .project-description {
    margin-left: 0;
    width: 50%; }

  .hero-content {
    padding: 50px 0; } }
@media only screen and (max-width: 900px) {
  .home-hero {
    background-position: left 43px; }

  .home-hero-content {
    width: 80%;
    position: relative;
    z-index: 20; } }
@media only screen and (max-width: 800px) {
  .content-image, .content-image--left {
    float: none;
    width: 100%;
    margin: 0 auto;
    display: block; }
    .content-image--left {
      margin-bottom: 15px; }

  .thumbnail-row__image {
    width: 95%;
    float: none;
    display: block;
    margin: 0 auto 15px auto; }

  .floated-content {
    float: none;
    width: 100%; }

  .content-container--label {
    margin: 0 auto; }

  .content-label--vertical {
    position: relative;
    transform: none;
    top: 0;
    left: 0; }

  .scrolling-screen__slide {
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    background-size: 95%;
    height: 458px;
    padding-top: 0;
    width: 100%; }

  .project-description {
    max-width: 92%;
    width: 92%;
    margin: 0 auto;
    margin-top: 185px;
    min-height: auto; }

  .project-hero__mockup, .project-hero__mockup--heavylift, .project-hero__mockup--aaq, .project-hero__mockup--notification, .project-hero__mockup--decath {
    background-size: 97%;
    background-position: center 5%; }

  .project-tile__content, .project-tile__content--left {
    width: 70%;
    padding: 80px 20px 160px 20px; }

  .project-tile--thumbnail {
    width: 100%; }

  .mobile-screens--heavylift {
    background-size: 120%;
    padding: 200px 0; } }
@media only screen and (max-width: 600px) {
  .home-hero-content {
    width: 100%;
    padding: 30px; }

  .home-page__title {
    font-size: 46px;
    padding: 0;
    border: 0;
    margin-left: 0; }

  .mobile-frame {
    float: none;
    max-width: 255px;
    margin: 0 auto;
    display: block; }

  .mobile-frame:nth-of-type(2) {
    margin: 10px auto; }

  .scrolling-screen__slide {
    height: 320px; }

  .scrolling-screens--notification .scrolling-screen__slide {
    height: 470px; }

  .content-block--backgroundimage {
    padding: 200px 0; }

  .mobile-screens--heavylift {
    background-size: 120%;
    padding: 150px 0; }

  /*mobile nav*/
  .nav-list {
    margin-top: 57px;
    margin-left: 0;
    height: 0;
    float: none;
    width: 100%; }

  .nav-list.active {
    height: 205px; }

  .nav-list__link {
    display: block;
    border-bottom: 1px solid #eeeeee; }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 14px;
    top: 16px;
    cursor: pointer;
    padding: 10px 35px 16px 0; }

  .mobile-menu-icon span,
  .mobile-menu-icon span:before,
  .mobile-menu-icon span:after {
    transition: all 500ms ease-in-out;
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 33px;
    background: #623372;
    position: absolute;
    display: block;
    content: ''; }

  .mobile-menu-icon span:before {
    top: -10px; }

  .mobile-menu-icon span:after {
    bottom: -10px; }

  .mobile-menu-icon.active span {
    background-color: transparent; }

  .mobile-menu-icon.active span:before,
  .mobile-menu-icon.active span:after {
    top: 0; }

  .mobile-menu-icon.active span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg); }

  .mobile-menu-icon.active span:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg); } }
@media only screen and (max-width: 450px) {
  .home-hero {
    padding: 0; }

  .home-page {
    padding: 15px; }

  .project-tile__content, .project-tile__content--left {
    width: 100%;
    padding: 70px 30px; }

  .project-tile__arrow, .project-tile__arrow--left {
    left: 0; }

  .scrolling-screen__slide {
    height: 235px; }

  .scrolling-screens--notification .scrolling-screen__slide {
    height: 470px; }

  .content-block--backgroundimage {
    padding: 150px 0; }

  .project-hero--notification .project-description {
    background-size: 90%;
    background-position: -320%; } }
/*helper classes*/
.fullwidth {
  width: 100%; }

.white-text {
  color: white; }

/*# sourceMappingURL=style.css.map */
