/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
	background-color:#0BADBF;
	background: /*url(../images/background.png) no-repeat bottom left, */url(../images/texture.png)top center,url(../images/background.jpg) repeat;

		
}

nav{
width: 100%;
height: 170px;
border-bottom: 2px solid #CCC;
box-shadow: 0 2px 0 #fff;
padding-top: 1px;
position: relative;
z-index: 80;
top: 0;
background: /*url(../images/background.png) no-repeat bottom left, */url(../images/texture.png)top center,url(../images/background.jpg) repeat;

}
nav ul{
	margin:30px auto 0 auto;
	position:relative;
	text-align:center;	
}
nav li{
	display:inline-block;
	position:relative;
	text-align:center;
	height:71px;
	width:100px;
	z-index:100;
}

nav li:hover{
	border-bottom:2px solid #0BADBF;
	box-shadow: 0 2px 0 #fff;	
}

.currentPage{
	border-bottom:2px solid #0BADBF;
	box-shadow: 0 2px 0 #fff;
}

nav a{
	text-decoration:none;
	color:#000;
	font-family: 'Museo-300';
	font-size:1.3em;
	line-height:71px;
	text-shadow: 0px 2px 3px #fff;
	position:relative;
	height:71px;
	width:100px;
}
.banner{
background: url(../images/asdfg.jpg) center center no-repeat;
background-size: cover;
min-height: 900px;
width: 100%;
margin: 0 auto;

-webkit-transition: box-shadow 1s;
overflow: hidden;
position: fixed;
z-index: 20;
top: 0;
background-attachment:fixed;
}

#relative{
	position:relative;
	z-index:1000;
	width:610px;
	margin:120px auto 0 auto;
}

#mainHeading{
    font-family: 'code_pro_demoregular';
	color:#fff;
	font-size:3.2em;
	padding:10px;
	background-color:rgba(11,173,191,.6);
	max-width:600px;
	position:absolute;
right:0px;
text-align:right;
top:50%;
}
#container{
	width: auto;
min-height: 990px;
margin: 0 auto 0px auto;
padding: 1px;
display: block;
background:url(../images/texture12.png);
position: relative;
z-index: 100;
margin-top: 500px;
box-shadow: rgba(0, 175, 190, 1) 0 -20px 0 0, rgba(0,0,0,.6) 0 -20px 32px 2px;;
}

#logo{
	background:url(../images/logo2.png) no-repeat center center;
	text-indent:-9999px;
	width:130px;	
}

#logo img{
	margin:0 auto;
	display:block;
	alignment-adjust:central;
	width:150px;
	height:auto;
}

#about{
	margin:40px auto 0 auto;
}

.pageTitle{
	border-bottom: 2px solid #CCC;
	box-shadow: 0 2px 0 #fff;
	padding: 20px;
	background:url(../images/texture9.png);
	-moz-box-shadow: rgba(11,173,191,.6) 0 20px 0 0;
	-webkit-box-shadow:rgba(11,173,191,.6) 0 20px 0 0;
	box-shadow:rgba(11,173,191,.6) 0 20px 0 0;
	position:relative;
}

#triangle {
	width: 0;
height: 0;
border-left: 45px solid transparent;
border-right: 45px solid transparent;
border-bottom: 20px solid #E9E9E9;
position: absolute;
top: -20px;
left: 50%;
}

.block{max-width: 800px;
float: right;
margin: 20px auto 0 auto;
display: block;}

.tile{margin: 10px;
float: left;
}

h1{
	font-family:'Lobster13Regular';
	text-align:center;
	color:#999;
	font-size:1.8em;
	text-shadow: 0px 2px 3px #fff;
}	

h2{
	font-size:7em;
	text-shadow: rgb(170, 170, 170) 1px 0px 2px, rgb(34, 34, 34) 1px 0.9812104006908342px 2px, rgb(170, 170, 170) 2px 0.9812104006908342px 2px, rgb(34, 34, 34) 2px 1.9624208013816684px 2px, rgba(33, 36, 39, 0.109804) 4px 0px 3px, rgba(33, 36, 39, 0.0980392) 2.9849683205526674px 0.9812104006908342px 3px, rgba(33, 36, 39, 0.0941176) 1.9699366411053347px 1.9624208013816684px 3px, rgba(33, 36, 39, 0.0823529) 0.954904961658002px 2.9436312020725026px 3px, rgba(33, 36, 39, 0.0784314) -0.06012671778933067px 3.924841602763337px 3px, rgba(33, 36, 39, 0.0745098) -1.0751583972366634px 4.906052003454171px 3px, rgba(33, 36, 39, 0.0666667) -2.090190076683996px 5.887262404145005px 3px, rgba(33, 36, 39, 0.0627451) -3.105221756131329px 6.868472804835839px 3px, rgba(33, 36, 39, 0.0588235) -4.120253435578661px 7.849683205526674px 3px, rgba(33, 36, 39, 0.054902) -5.135285115025994px 8.830893606217508px 3px, rgba(33, 36, 39, 0.0470588) -6.150316794473326px 9.812104006908342px 3px, rgba(33, 36, 39, 0.0431373) -7.165348473920659px 10.793314407599176px 3px, rgba(33, 36, 39, 0.0392157) -8.180380153367992px 11.77452480829001px 3px, rgba(33, 36, 39, 0.0313726) -9.195411832815324px 12.755735208980845px 3px, rgba(33, 36, 39, 0.027451) -10.210443512262657px 13.736945609671679px 3px, rgba(33, 36, 39, 0.0235294) -11.22547519170999px 14.718156010362513px;	
}

.shortLink{
	border-right: 1.5px solid #CCC;
	border-left: 1.5px solid #CCC;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 2px 0 0 #fff,inset -1px 0 0 #fff;
	-moz-box-shadow: inset 2px 0 0 #fff,inset -1px 0 0 #fff;
	-o-box-shadow: inset 2px 0 0 #fff,inset -1px 0 0 #fff;
	-ms-box-shadow: inset 2px 0 0 #fff,inset -1px 0 0 #fff;
	box-shadow: inset 2px 0 0 #fff,inset -1px 0 0 #fff;
	min-height:300px;
	max-width:960px;
	margin:20px auto 0 auto;
}

.icon{
	float:left;
	width:80px;
}

.subheading{
	font-family: 'Museo-500';
	color:#000;
	display:inline-block;
	font-size:1.3em;
	min-height:81px;
	line-height:81px;
	padding-right:10px;
	border-bottom:2px solid #CCC;
	/*border-top:2px solid #CCC;*/
	box-shadow: 0 2px 0 #fff;
	clear:both;
	margin:0 auto;
}

.threeCol{
	position: relative;
	width: 275px;
	min-height: 255px;
	display: block;
	float: left;
	margin-left: 33px;
	margin-bottom:20px;
	text-align: justify;
	border-right: 1.5px solid #CCC;
	border-left: 1.5px solid #CCC;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 2px 0 0 #fff,inset -1px 0 0 #fff;
	-moz-box-shadow: inset 2px 0 0 #fff,inset -1px 0 0 #fff;
	-o-box-shadow: inset 2px 0 0 #fff,inset -1px 0 0 #fff;
	-ms-box-shadow: inset 2px 0 0 #fff,inset -1px 0 0 #fff;
	box-shadow: inset 2px 0 0 #fff,inset -1px 0 0 #fff;
		
}


.threeCol img{
	height:auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width:150px;
	margin-top:0;
	margin-bottom:10px;	
}

#mediadesign{
	
}


.col{
	max-width:980px;
	margin:60px auto 0 auto;
	display:block;	
}

.colHead{
	text-align:center;
	font-family: 'Museo-500';
	font-size:1.9em;
	color:#333;	
}

.colText{
	max-width:225px;
	text-align:justify;
	margin:30px auto 0 auto;
	font-family: 'Museo-300';
	font-size:.82em;
	line-height:1.2em;
}

footer{
	width:100%;
	clear:both;
	min-height:80px;
	background-color:#0BADBF;
	box-shadow:inset 0px 5px 10px rgba(102,102,102,.6);
	position: relative;
	z-index:100;
		
}

footer a{
	text-indent:-99999px;
	background-image:url(../images/topbtn.png);
	background-size:100%;
	width: 118px;
	height: 90px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -59px;
	bottom: 51px;
}

@media screen and (min-width: 1900px){
	.banner{
		min-height:700px;		
}
}

@media screen and (max-width: 960px){

.shortLink{
	min-height:300px;
	max-width:680px;
	margin:20px auto 0 auto;	
}

.col{
	min-width:680px;
	max-width:680px;
	margin:60px auto 0 auto;
	display:block;	
}
.threeCol{
	position: relative;
	width: 405px;
	min-height: 255px;
	display: block;
	float:none;
	margin:0 auto;
	text-align: justify;
	border:none;
	box-shadow:none;
}

.colText{
	max-width:525px;
	text-align:justify;
	margin:30px auto 0 auto;
	font-family: 'Museo-300';
	font-size:.82em;
	line-height:1.2em;
}

.threeCol img{
	height:auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width:180px;
	margin-top:0;
	margin-bottom:20px;	
}
#container{
	min-height: 1530px;	
}
}

@media screen and (max-width: 720px){

#container{
	min-height:1600px;	
}
	h1{
		max-width:480px;
		margin:0 auto;
	}
	#logo{
		display:none;	
	}
	
	nav{
	width:100%;
	height:60px;
}
nav ul{
	margin:10px auto 0 auto;
	position:relative;
	text-align:center;	
}
nav li{
	display:inline-block;
	position:relative;
	text-align:center;
	height:51px;
	width:80px;
	z-index:100;
}
	
	nav a{
	font-size:1.13em;
	line-height:51px;
}
h2{
		font-size:8.4em;
		font-weight:bold;
		letter-spacing:1px;
		max-width:480px;
		margin:30px auto 0pc auto;
		line-height:.5em;
}
#dev{
		font-size:50%;
		width:auto;
		margin:0 auto;
}

.icon{
	border:none;
	box-shadow:none;
	margin:0 auto;
	
}

.subheading{
	font-size:1.3em;
	height:71px;
	line-height:71px;
	width:100%;
	padding:0;
}

.subheading img{
	width:76px;
	height:auto;	
}

.col{
	min-width:0px;
	max-width:680px;
	margin:60px auto 0 auto;
	display:block;	
}

.colHead{
	text-align:center;
	font-family: 'Museo-500';
	font-size:1.5em;
	color:#333;	
}

.threeCol{
	margin-bottom:20px;
}
	
}

@media screen and (max-width: 480px){
	
	#mainHeading{
    font-family: 'code_pro_demoregular';
	color:#fff;
	font-size:2.8em;
	padding:10px;
	background-color:rgba(11,173,191,.6);
	max-width:600px;
	position:absolute;
right:0px;
text-align:right;
top:50%;
}
	
	h1{
		max-width:480px;
		margin:0 auto;
	}
	#logo{
		display:none;	
	}
	
	nav{
	width:100%;
	height:60px;
	border-bottom:2px solid #CCC;
	box-shadow: 0 2px 0 #fff;
	padding:1px;
	position:relative;
	z-index:1;
}
nav ul{
	margin:10px auto 0 auto;
	position:relative;
	text-align:center;	
}
nav li{
	display:inline-block;
	position:relative;
	text-align:center;
	height:51px;
	width:80px;
	z-index:100;
}
	
	nav a{
	font-size:1.13em;
	line-height:51px;
}
#dev{
		font-size:50%;
		width:auto;
		margin:0 auto;
}

.icon{
	border:none;
	box-shadow:none;
	margin:0 auto;
	
}

.pageTitle{
	display:none;	
}

.subheading{
	font-size:1.3em;
	height:71px;
	line-height:71px;
	width:100%;
	padding:0;
}

.subheading img{
	width:76px;
	height:auto;	
}

.shortLink{
	border:none;
	box-shadow:none;
}

.col{
	max-width:400px;
}

.colHead{
	text-align:center;
	font-family: 'Museo-500';
	font-size:1.5em;
	color:#333;	
}

.design{
	margin-left:35%;
	max-width:960px;
	min-height:250px;	
}
.designicons{
	text-decoration:none;
	margin:20px auto 0 auto;
}

.designicons li{
	float:none;
	max-width:100px;
	max-height:100px;
	margin-top:20px;
	font-size:1em;
	color:#333;
	text-shadow:1px 1px 1px #fff;
	line-height:240px;
}


.shortLink{
	min-height:300px;
	max-width:960px;
	margin:20px auto 0 auto;	
}

.icon{
	float:left;
	width:80px;
}

.subheading{
	font-family: 'Museo-500';
	color:#000;
	display:inline-block;
	font-size:1.3em;
	min-height:81px;
	line-height:81px;
	padding-right:10px;
	border-bottom:2px solid #CCC;
	/*border-top:2px solid #CCC;*/
	box-shadow: 0 2px 0 #fff;
	clear:both;
	margin:0 auto;
}

.threeCol{
	position: relative;
	width: 275px;
	min-height: 255px;
	display: block;
	margin:0 auto;
	text-align: justify;
}


.threeCol img{
	height:auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width:150px;
	margin-top:0;
	margin-bottom:10px;	
}

#mediadesign{
	
}


.col{
	margin:60px auto 0 auto;
	display:block;	
}

.colHead{
	text-align:center;
	font-family: 'Museo-500';
	font-size:1.9em;
	color:#333;	
}

.colText{
	max-width:225px;
	text-align:justify;
	margin:30px auto 0 auto;
	font-family: 'Museo-300';
	font-size:.82em;
	line-height:1.2em;
}
	
}