#progress {
    height: 2%;
    background: #444;
    bottom: 0;
    z-index: 200;
}

/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


/*essentials*/

body, html {
	width:100%;
	height:100%;
	max-height: 100%;
	font-size: 1.25em;
	line-height: 1.5em;
	font-family: 'Merriweather Sans', sans-serif;
}

body{
  height: 3000px;
}
html * {
	transition:all 200ms ease;
	-moz-transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
	-o-transition: all 200ms ease;
}
*:hover {
	transition:all 200ms ease;
	-moz-transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
	-o-transition: all 200ms ease;
}

a:link {
	color: #403537;
	text-decoration: none;
	display:block;
}
a:visited{
	color:#23070b;
	text-decoration:none;
}
a:hover{
	color:#f05770;
	text-decoration:none;
}
*:focus  {
  outline: none;
}

p{
	position: relative;
	z-index: 100;
	color: #646464;
	font-size: 15px;
	line-height: 24px;
	padding-bottom: 10px;
}

strong{
	font-weight: 800;
}

.bold--emph{
	font-weight: 800;
	font-style: italic;
}

.scroll__wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
}

nav{
	width: 100%;
	height: 55px;
	background-color: #ffffff;
	border-bottom: 1px solid #eee;
}

.nav__items{
	list-style: none;
	margin: 0 auto;
	float: right;
}

.nav__link{
	float: left;
	margin-right: 50px;
	margin-top: 10px;
	color: #0f305e;
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
}

.header__hero{
	background: url("images/hero-bg.jpg");
	width: 100%;
	height: 100%;
	min-height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 100%;
	padding-top: 1px;
}

.header__hero-overlay{
	position: absolute;
	top: 0;
	opacity: .87;
	width: 100%;
	height: 100%;
}

.header__hero-text{
	color: #0f305e;
	margin-top: 10%;
	margin-left: 10%;
	position: relative;
	z-index: 100;
}

.header__hero-text--large{
	font-size: 60px;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 65px;

}

.header__hero-text--paragraph{
	font-size: 16px;
	margin-top: 10px;
	line-height: 18px;
}

.transition-border--triangle{
	fill: #ffffff;
	opacity: .80;
	bottom: 0;
	left: 0;
}

.transition-border--gradient{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	background-color: white;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#ffffff',GradientType=0 );
}

.transition-border-end--triangle{
  fill: white;
  transform: rotateY(180deg) rotateX(180deg);
  position: absolute;
	z-index: 100;
}

.page__container{
	width: 90%;
	max-width: 1230px;
	display: block;
	margin: 0 auto;
  top: 100%;
  position: relative;
}

.page__heading--secondary{
	color: #0f305e;
	font-weight: 900;
	font-size: 32px;
}

.page__heading--secondary:after{
	content: '';
	width: 20px;
	height: 3px;
	display: block;
	margin-top: 6px;
	background-color: #0f305e;

}

.page__heading--negative-margin{
	margin-top: -105px;
	position: relative;
	z-index: 100;
}

.content-block{
	margin-top: 30px;
}

.content-block--grey{
	background-color: #f9f9f9;
}

.project__card{
	padding: 1.5%;
	margin-top: 13px;
}

.project__card-bg{
	background-color: white;
	padding: 10px;
	border: 1px solid #eaeaea;
}

.section__project-bg{
	min-height: 400px;
	width: 100%;
	position: relative;
  top:200%;
}

.project-bg--amablue{
	background-color: #0045ad;
}

.section__project-overlay{
	background-color: white;
  opacity: .5;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  z-index: 95;
}

.nav { width:100%; background-color: #fff; border-bottom: 1px solid #ccc; }
ul.simple-toggle { list-style: none; padding: 0px; margin: 0px; font-weight: bold; text-align: center; }
ul.simple-toggle li { display: inline-block; text-align: left; }
ul.simple-toggle li a { display: block; padding: 15px 10px; text-decoration: none; color: #444; }
ul.simple-toggle li a:hover { background-color: #ccc; }

.anchor-link { display: none; text-align: right; padding: 0 1em 0; text-align: center; padding: 10px 15px; color: #fff; background-color: #0084B4; text-decoration: none; margin: 3px; float: right; }
#mobile-nav { display:none; }

@media (max-width:48.000em){

	ul.simple-toggle { display: none; }
	.anchor-link, #mobile-nav { display: block; }

  ul.open {
    background-color: #F4F4F4;
    box-shadow: 2px 2px 3px #444444;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 100%;
    width: 70%;
    z-index: 500;
	}
	ul.open li { display: block; list-style: none; text-align: center; }
	ul.open li a { display: block; padding: 20px 10px; border-bottom: 1px solid #ccc; text-decoration: none; }
	ul.open li a:hover { background-color: #ccc; color: #fff; }

}


@media (max-width: 650px){
	.header__hero-text{
		margin-left: 5%;
		margin-top: 5%;
		width: 90%;
	}

	.header__hero-text--large{
		font-size: 40px;
	}

	.header__hero{
		height: 70%;
		min-height: 500px;
	}
}
